// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap";
@import "users";
@import "sessions";
@import "navbar";


div.card {
  margin-left: 2%;
}

body {

  box-sizing: border-box;
}

.pagination {
  justify-content: center;
}

//.pagination__wrapper{
//  display: block;
//}