
.center {
  padding-top: 100px;
  padding-left: 500px ;
  margin: auto;
}

.Sign_UP {
  margin: auto;
  padding-bottom: 100px;
  padding-left: 136px ;
}

.User_save {
  padding-bottom: 10px;
  padding-left: 150px;
  margin: auto;
}

.but_Password_save {
  padding-bottom: 10px;
  padding-left: 155px;
  margin: auto;
}

.but_User_save_2Xpassword {
  padding-bottom: 10px;
  padding-left: 110px;
  margin: auto;
}

.but_Data_save {
  padding-bottom: 10px;
  padding-left: 110px;
  margin: auto;
}

